<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <span class="font-large-bold">
        Tech Skillo
      </span>
      <!-- <span>
        > Home
      </span> -->
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button>
        About
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-section-1">
    <ion-grid>
      <ion-row class="ion-margin">
        <ion-col
          class="home-section-1-1"
          size="12"
          size-md="6"
          size-lg="6"
          size-xl="6"
        >
          <div class="vertical-center">
            <div class="home-section-1-line1">Tech Skillo</div>

            <div class="home-section-1-line2">Home to Learn Programming!</div>

            <div class="home-section-1-line3">
              Tech Skillo is a platform to learn programming with high quality
              tutorials, courses and videos.
            </div>

            <ion-button
              size="large"
              fill="outline"
              class="ion-margin-top"
              color="light"
            >
              <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
              Visit Courses
            </ion-button>
          </div>
        </ion-col>

        <ion-col class="home-section-1-1">
          <div class="vertical-center">
            <div class="ion-margin">
              <img
                src="assets/imgs/img-main-page.png"
                alt="Tech Skillo"
                class="image1"
              />
            </div>
            <!-- 17, 18 -->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="home-about">

          <div class="home-about-line1-div">
            <span class="home-about-line1-span">
              ABOUT TECHSKILLO
            </span>
          </div>

          <div class="home-about-line2">
            A place to learn latest programming with high quality tutorials,
            courses and videos.
          </div>
          <div class="home-about-line3">
            Courses are designed in a way that they are easy to follow, latest
            in market, provide you support for questions and can earn you a
            certificate.
          </div>
  </div>

  <div class="home-cards">
    <ion-grid>
      <ion-row>
        <ion-col
          size="12"
          size-md="6"
          size-lg="6"
          size-xl="3"
          *ngFor="let cardItem of cardsList"
        >
          <ion-card color="light">
            <!-- <img src="{{cardItem.imgsrc}}" /> -->
            <div align="center" class="ion-margin">
              <ion-avatar class="home-card-avatar">
                <img src="{{cardItem.imgsrc}}" />
              </ion-avatar>

              <ion-card-header class="home-card-header">
                <ion-card-title>
                  {{cardItem.title}}
                </ion-card-title>
              </ion-card-header>

              <ion-card-content class="home-card-content">
                {{cardItem.shortDesc}}
              </ion-card-content>

              <ion-button shape="round" fill="outline" size="large">
                <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
                {{cardItem.buttonText}}
              </ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
