.home-section-1 {
  //border: 1px solid red;
  min-height: 460px;
  background: linear-gradient(
    120deg,
    var(--ion-color-primary) 50%,
    var(--ion-color-secondary) 50%
  );
  // background: linear-gradient(
  //   120deg,
  //   var(--ion-color-primary) 45%,
  //   var(--ion-color-secondary) 55%
  // );

  // background-image: url('../../assets/imgs/bg3.png');
  // background-repeat: no-repeat;
  // background-position: center;
}

.home-section-1-1 {
  min-height: 460px;
}

.home-section-1-line1 {
  font-size: 30px;
  font-weight: 900;
}

.home-section-1-line2 {
  margin: 15px 0px 0px 0px;
  font-size: 25px;
  font-weight: 700;
}

.home-section-1-line3 {
  margin: 15px 0pc 15px 0px;
  font-size: 18px;
  font-weight: 500;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}

.image1 {
  object-fit: cover;
  //margin: 20px;
  // height: 400px;
  // width: 400px;
}

.home-about {
  text-align: center;
  margin: 8%;
}

.home-about-line1-div {
  margin: 5%;
}

.home-about-line1-span {
  color: white;
  background: linear-gradient(
    to bottom right,
    var(--ion-color-secondary),
    var(--ion-color-primary)
  );
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
  border: 3px solid var(--ion-color-secondary);
  border-radius: 20px;
}

.home-about-line2 {
  margin: 5% 10% 5% 10%;
  font-size: 22px;
  font-weight: 600;
}

.home-about-line3 {
  margin: 5% 10% 5% 10%;
  font-size: 20px;
  font-weight: 500;
}
// ion-card {
//   --background: var(--ion-color-primary);
//   --color: white;
// }

.home-cards {
  //background: linear-gradient(120deg, var(--ion-color-primary) 45%, var(--ion-color-primary) 55%);
  background: linear-gradient(
    to bottom right,
    var(--ion-color-secondary),
    var(--ion-color-primary)
  );
  margin: 20px 0px 20px 0px;
  padding: 20px 0px 20px 0px;
}

.home-card-avatar {
  height: 100px;
  width: 100px;
  border: 8px solid var(--ion-color-secondary);
}

.home-card-header {
  height: 80px;
}

.home-card-content {
  min-height: 100px;
}
