.header-logo {
  height: 40px;
  width: 50px;
}

.bgimg {
  background-image: url('../../assets/imgs/bg-main-page.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

a:link {
  text-decoration: none;
}



